<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL7CNeUE7deCvd-mEn1qymazsjiliaeyo</string>
	<key>GCM_SENDER_ID</key>
	<string>1027765291967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chupachap</string>
	<key>PROJECT_ID</key>
	<string>chupachap-e861a</string>
	<key>STORAGE_BUCKET</key>
	<string>chupachap-e861a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027765291967:ios:e2d0c5ebcdb115f47d6f0a</string>
</dict>
</plist>